name: Release

on:
  push:
    tags:
      - '[0-9]*'
      - 'v[0-9]*'

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      CF_API_KEY: ${{ secrets.CF_API_KEY }}
      GITHUB_OAUTH: ${{ secrets.GH_OAUTH }}
      WOWI_API_TOKEN: ${{ secrets.WOWI_API_TOKEN }}
    steps:
      - uses: actions/checkout@v1
      - name: Install and run Luacheck
        run: |
          sudo apt-get install luarocks
          luarocks install --local luacheck
          /home/runner/.luarocks/bin/luacheck . --no-color -q

      - name: Create Package
        run: curl -s https://raw.githubusercontent.com/BigWigsMods/packager/master/release.sh | bash;
        if: '!contains( github.ref, ''beta'')'

      - name: Create Pre-Release Package
        run: curl -s https://raw.githubusercontent.com/BigWigsMods/packager/master/release.sh | bash -s -- -p 0 -w 0;
        if: 'contains( github.ref, ''beta'')'
